<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web-OMR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title">
                Web-OMR
             </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="http://localhost:5000/?">
              Home
            </a>
            <a class="navbar-item is-active">
              Result
            </a>
            <a class="navbar-item" href="https://www.mdpi.com/2076-3417/8/4/606/htm">
              How this works
            </a>
            <span class="navbar-item">
              <a class="button is-success is-inverted" href="https://github.com/liuhh02">
                <span class="icon">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span>Contact</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <img typr="image/png" src="annotated.png">
      <br>
        <nav class="level-center">
          <div class="level-item has-text-centered">
            <div>
              <br>
             <form action="{{ url_for('root')}}">
                <input class="button is-info is-centered" type="submit" value="Read New Sheet">
            </form>
            </div>
          </div>
          <div class="level-item has-text-centered">
        </nav>
        <nav class="level-right">
            <h2 class="subtitle">
            <strong> Share this! </strong>
            </h2>
            </nav>
        <nav class="level-right">
            <a class="button is-medium is-facebook" href="https://www.facebook.com/campaign/landing.php?&campaign_id=1635645017&extra_1=s%7Cc%7C313627652532%7Ce%7Cfacebook%7C&placement=&creative=313627652532&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1635645017%26adgroupid%3D60549328697%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D1t1%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9062531%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAzuPuBRAIEiwAkkmOSFJk3Ljc25ImzaP8OuNBzxjw5Jf3jgrQzjZrW2GjoqOeI1eAdpBxJxoCClMQAvD_BwE">
              <span class="fab fa-facebook"></span>
            </a>
            <a class="button is-medium is-twitter" href="https://twitter.com/?lang=en">
              <span class="fab fa-twitter"></span>
            </a>
            <a class="button is-medium is-instagram" href="https://www.instagram.com/">
              <span class="fab fa-instagram"></span>
            </a>
            </nav>

    </div>
  </div>

</section>

</body>
</html>
